<div class="positions">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Positions ({{$ctrl.user.Positions.length}})
      </h2>
      <span flex></span>
      <md-menu md-offset="0 0">
        <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
          <ng-md-icon md-menu-origin icon="sort" style="fill: #fff" size="20"></ng-md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button aria-label="Refresh" ng-click="$ctrl.user.refreshSymbols()"><span
              md-menu-align-target>Refresh</span></md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button aria-label="Sort A-Z" ng-click="$ctrl.sortSymbols('aToZ')"><span
              md-menu-align-target>Sort A-Z</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Sort Z-A" ng-click="$ctrl.sortSymbols('zToA')"><span
              md-menu-align-target>Sort Z-A</span></md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button aria-label="Sort Daily P/L Asc" ng-click="$ctrl.sortPositions('sortDailyPNLAsc')"><span
              md-menu-align-target>Sort Daily P/L Asc</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Sort Daily P/L Desc" ng-click="$ctrl.sortPositions('sortDailyPNLDesc')"><span
              md-menu-align-target>Sort Daily P/L Desc</span></md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button aria-label="Sort Total P/L Asc" ng-click="$ctrl.sortPositions('sortTotalPNLAsc')"><span
              md-menu-align-target>Sort Total P/L Asc</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Sort Total P/L Desc" ng-click="$ctrl.sortPositions('sortTotalPNLDesc')"><span
              md-menu-align-target>Sort Total P/L Desc</span></md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button aria-label="Sort Quantity Asc" ng-click="$ctrl.sortPositions('sortTotalQuantityAsc')"><span
              md-menu-align-target>Sort Quantity Asc</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Sort Quantity Desc" ng-click="$ctrl.sortPositions('sortTotalQuantityDesc')"><span
              md-menu-align-target>Sort Quantity Desc</span></md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button aria-label="Sort Total Value Asc" ng-click="$ctrl.sortPositions('sortTotalValueAsc')"><span
              md-menu-align-target>Sort Total Value Asc</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Sort Total Value Desc" ng-click="$ctrl.sortPositions('sortTotalValueDesc')"><span
              md-menu-align-target>Sort Total Value Desc</span></md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button aria-label="Sort Change % Asc" ng-click="$ctrl.sortSymbols('sortChangeAsc')"><span
              md-menu-align-target>Sort Change % Asc</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Sort Change % Desc" ng-click="$ctrl.sortSymbols('sortChangeDesc')"><span
              md-menu-align-target>Sort Change % Desc</span></md-button>
          </md-menu-item>
        </md-menu-content>
    </div>
  </md-toolbar>

  <md-content>

    <form ng-submit="$event.preventDefault()">
      <md-input-container class="md-block" style="margin-bottom: -20px;">
        <label>Filter Positions</label>
        <input ng-model="$ctrl.searchText">
      </md-input-container>
    </form>

    <md-content style="max-height:839px;">
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="position in $ctrl.user.Positions | filter:$ctrl.searchText"
                      ng-click="$ctrl.user.selectSymbol(position.Symbol)"
                      ng-class="{selected: false}">
          <div class="md-list-item-text">

            <h3>
              <span style="text-transform: uppercase;">{{position.Symbol.Symbol}}:</span> <span
              ng-class="{positive: position.Symbol.Change.indexOf('+') > -1, negative: position.Symbol.Change.indexOf('-') > -1}">{{position.Symbol.Ask}} {{position.Symbol.Change}} ({{position.Symbol.ChangeinPercent}})</span>
            </h3>
            <h4>Quantity: {{position.totalQuantity}} Value: {{position.totalValue | currency}}</h4>

            <p>
              Daily P/L: {{position.dailyPNL | currency}}
              Total P/L: {{position.totalPNL | currency}}
            </p>
            <!--<md-list>-->
            <!--<md-list-item ng-repeat="buy in position.buys">-->
            <!--ask: {{$ctrl.buy.ask}} <br />-->
            <!--quantity: {{$ctrl.buy.quantity}} <br />-->
            <!--created: {{$ctrl.buy.created}}-->
            <!--</md-list-item>-->
            <!--</md-list>-->
            <p>
              <!--Current Ask: {{position.Symbol.Ask | currency}} <br />-->
              <!--Original Total: {{position.ask * position.quantity | currency}} <br />-->
              <!--Current Total: {{position.Symbol.Ask * position.quantity | currency}} <br />-->
              <!--Total Earnings: {{(position.Symbol.Ask * position.quantity) - (position.ask * position.quantity) | currency}} <br />-->
              <!--Previous Close: {{position.Symbol.PreviousClose | currency}} <br />-->
              <!--Today's Earnings: {{(position.Symbol.Ask * position.quantity) - (position.Symbol.PreviousClose * position.quantity) | currency}} <br />-->
              <!--Created: {{position.created}}-->
            </p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>

  </md-content>
</div>
