<div class="watch-list-details">
  <md-content flex>

    <!--Start Buy/Sell Toolbar-->
    <md-toolbar class="md-primary md-hue-2">
      <div class="md-toolbar-tools" ng-show="$ctrl.symbol.Symbol">
        <span class="chip"
              ng-class="{positive: $ctrl.symbol.Change.indexOf('+') > -1, negative: $ctrl.symbol.Change.indexOf('-') > -1}">
           <span style="text-transform: uppercase;">
             {{$ctrl.symbol.Symbol}}:
           </span>
          {{$ctrl.symbol.Ask}} {{$ctrl.symbol.Change}} ({{$ctrl.symbol.ChangeinPercent}})
        </span>

        <span flex style="text-align: center;">
          <h2 hide-sm>{{$ctrl.symbol.Name}}</h2>
        </span>

        <md-button buy-button aria-label="Buy" ng-click="$ctrl.user.openBuyModal($event, $ctrl.symbol)">
          <span>Buy</span>
        </md-button>

        <md-button aria-label="Sell" ng-click="$ctrl.user.openSellModal($event, $ctrl.symbol)">
          <span>Sell</span>
        </md-button>
      </div>
    </md-toolbar>

    <div layout="row">
      <div flex="100" class="chart-buttons">
        <!--Start Historical Data Tab Switcher-->
        <!--<md-tabs md-selected="$ctrl.user.Preferences.selectedHistoricalIndex" md-border-bottom-->
        <!--style="min-height: inherit !important;">-->
        <!--<md-tab ng-repeat="tab in historicalTabs"-->
        <!--ng-disabled="tab.disabled"-->
        <!--label="{{tab.title}}"-->
        <!--md-on-select="$ctrl.symbol.getHistoricalData(tab.startDate, tab.endDate)">-->
        <!--</md-tab>-->
        <!--</md-tabs>-->

        <md-input-container>
          <md-select ng-model="$ctrl.selectedHistoricalDateRange" placeholder="Select a Date"
                     ng-change="$ctrl.symbol.getHistoricalData(opt.startDate, opt.endDate)">
            <md-option ng-value="opt.slug" ng-repeat="opt in $ctrl.historicalDateRange">{{ opt.title }}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <md-select ng-model="$ctrl.selectedChart" placeholder="Select a chart">
            <md-option ng-value="opt.slug" ng-repeat="opt in $ctrl.Constants.chartTypes">{{ opt.title }}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <md-select multiple ng-model="$ctrl.selectedExtras" placeholder="Select extras">
            <md-option ng-value="opt.slug" ng-repeat="opt in $ctrl.Constants.chartExtras">{{ opt.title }}</md-option>
          </md-select>
        </md-input-container>

        <svg-artist-tools settings="settings" svg-instance="$ctrl.svgChartArtist"></svg-artist-tools>

      </div>
    </div>

    <!--Start Historical Data Line Chart-->
    <div style="height:500px;"
         ng-class="{'use-cross-hairs': $ctrl.svgChartArtist.createLineActive, 'use-grab': $ctrl.svgChartArtist.selectItemActive}">
      <svg-chart subPlots="$ctrl.user.selectedAccount.Positions[0].buys"
                 selected-extras="$ctrl.selectedExtras"
                 selected-theme="$ctrl.user.Preferences.theme"
                 selected-chart="$ctrl.selectedChart"
                 chart-data="$ctrl.symbol.historicalData">
      </svg-chart>
    </div>

    <!--Start Symbol Details Tab Switcher-->
    <div class="tabbed-details">
      <md-content>
        <md-tabs md-dynamic-height="false" md-center-tabs="false" md-border-bottom md-selected="2">
          <md-tab label="details">
            <div layout="row">
              <div flex="50">
                <md-list>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Ask:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.Ask}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Average Daily Volume:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.AverageDailyVolume}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Bid:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.Bid}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Book Value:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.BookValue}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Change:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.Change"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Change From Fifty day Moving Average:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.ChangeFromFiftydayMovingAverage"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Change From Two Hundred day Moving Average:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.ChangeFromTwoHundreddayMovingAverage"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Change From Year High:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.ChangeFromYearHigh"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Change From Year Low:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.ChangeFromYearLow"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Change in Percent:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.ChangeinPercent"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Days High:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.DaysHigh}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Days Low:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.DaysLow}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Days Range:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.DaysRange}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>EBITDA:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.EBITDA}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>EPS Estimate Current Year:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.EPSEstimateCurrentYear}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>EPS Estimate Next Quarter:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.EPSEstimateNextQuarter}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>EPS Estimate Next Year:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.EPSEstimateNextYear}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Earnings Share:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.EarningsShare}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Fifty day Moving Average:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.FiftydayMovingAverage}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Last Trade Date:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.LastTradeDate}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Last Trade Price Only:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.LastTradePriceOnly}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Last Trade Time:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.LastTradeTime}}</p>
                      </div>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
              <div flex="50">
                <md-list>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Last Trade With Time:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.LastTradeWithTime}}</p>
                        <p ng-bind-html-unsafe="$ctrl.symbol.LastTradeWithTime"></p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Market Capitalization:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.MarketCapitalization}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>One yr Target Price:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.OneyrTargetPrice}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Open:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.Open}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>PEG Ratio:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.PEGRatio}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Percent Change From Year High:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.PercebtChangeFromYearHigh"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Percent Change:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.PercentChange"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>PercentChange From Fifty day Moving Average:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.PercentChangeFromFiftydayMovingAverage"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Percent Change From Two Hundred day Moving Average:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number
                            number="$ctrl.symbol.PercentChangeFromTwoHundreddayMovingAverage"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Percent Change From Year Low:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>
                          <color-number number="$ctrl.symbol.PercentChangeFromYearLow"></color-number>
                        </p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">

                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Previous Close:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.PreviousClose}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Price Book:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.PriceBook}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Price EPS Estimate Next Year:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.PriceEPSEstimateNextYear}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Price Sales:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.PriceSales}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Short Ratio:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.ShortRatio}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Stock Exchange:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.StockExchange}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Two Hundred day Moving Average:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.YearRange}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Volume:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.Volume}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Year High:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.YearHigh}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Year Low:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.YearLow}}</p>
                      </div>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item class="stacked-details">
                    <div layout="row" class="stacked-details-row">
                      <div flex="50">
                        <p>Year Range:</p>
                      </div>
                      <div flex="50" class="row-right">
                        <p>{{$ctrl.symbol.YearRange}}</p>
                      </div>
                    </div>
                  </md-list-item>
                </md-list>

              </div>
            </div>
          </md-tab>
          <md-tab label="earnings">
            <div layout="column" flex layout-fill ng-cloak>
              <!--<md-toolbar md-scroll-shrink>-->
              <!--<div class="md-toolbar-tools">{{$ctrl.symbol.Name}}</div>-->
              <!--</md-toolbar>-->
              <md-content ng-hide="!positions.buys">
                <section>
                  <md-subheader class="md-primary">
                    Total Quantity: {{positions.totalQuantity}}
                    Total PNL: {{positions.totalPNL}}
                    Daily PNL: {{positions.dailyPNL}}
                    Total Value: {{positions.totalValue}}
                  </md-subheader>
                  <md-list layout-padding>
                    <md-list-item class="md-3-line"
                                  ng-repeat="position in positions.buys | orderBy:position.created:true">
                      <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">

                      <div class="md-list-item-text">
                        <h3>{{position.ask}} x {{position.quantity}} = {{position.value}}</h3>
                        <h4>Total PNL: {{position.totalPNL}}</h4>

                        <p>
                          Daily PNL: {{position.dailyPNL}} <br/>
                          Buy value: {{position.value}} <br/>
                          Created {{position.created}}
                        </p>
                      </div>
                    </md-list-item>
                  </md-list>
                </section>
              </md-content>

              <md-content ng-show="!$ctrl.positions.buys" class="md-padding">
                <section>
                  <h3>You do not have any positions with {{$ctrl.symbol.Symbol}}</h3>
                </section>
              </md-content>

              <md-content ng-show="$ctrl.positions.buys">
                <md-toolbar md-scroll-shrink>
                  <div class="md-toolbar-tools">
                    <h3>
                      {{$ctrl.positions.totalQuantity}} total shares of {{$ctrl.symbol.Symbol.toUpperCase()}}:  {{$ctrl.symbol.Name}}
                      valuing {{$ctrl.positions.totalValue | currency}}
                    </h3>
                  </div>
                </md-toolbar>
                <md-subheader class="md-primary">
                  <div layout="row">
                    <div flex="15">Quantity</div>
                    <div flex="17">Ask</div>
                    <div flex="17">Daily P/L</div>
                    <div flex="17">Total P/L</div>
                    <div flex="17">Value</div>
                    <div flex="17">Created</div>
                  </div>
                </md-subheader>
                <md-divider></md-divider>
                <md-list>
                  <md-list-item class="md-3-line" ng-repeat="position in $ctrl.positions.buys">
                    <div class="md-list-item-text" layout="row" layout-padding-sm>
                      <p flex="15">{{position.quantity}}</p>
                      <p flex="17">{{position.ask | currency}}</p>
                      <p flex="17">{{position.dailyPNL | currency}}</p>
                      <p flex="17">{{position.totalPNL | currency}}</p>
                      <p flex="17">{{position.value | currency}}</p>
                      <p flex="17">{{position.created | date}}</p>
                    </div>
                    <md-divider inset></md-divider>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
          </md-tab>
          <md-tab label="news">
            <md-list ng-repeat="newsItem in $ctrl.symbol.$news">
              <md-list-item class="md-3-line" ng-click="$ctrl.openNewsWindow(newsItem.unescapedUrl)">
                <img ng-src="{{newsItem.image.url}}" class="md-avatar" alt="{{newsItem.who}}"/>

                <div class="md-list-item-text" layout="column">
                  <h3 ng-bind-html="newsItem.title"></h3>

                  <p ng-bind-html="newsItem.content"></p>
                  <h4>Published By: {{newsItem.publisher}}</h4>
                </div>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>

  </md-content>
</div>


<canvas class="export-canvas" width="960" height="500" style="display:none"></canvas>

<div id="svgdataurl" style="display:none"></div>
<div id="pngdataurl" style="display:none"></div>

