<div class="watch-list">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2>
          Watchlist ({{user.WatchList.length}})
        </h2>
        <span flex></span>
        <md-menu md-offset="0 0">
          <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
            <ng-md-icon md-menu-origin icon="sort" style="fill: #fff" size="20"></ng-md-icon>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button aria-label="Refresh" ng-click="refreshSymbols()"> <span md-menu-align-target>Refresh</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Sort A-Z"> <span md-menu-align-target>Sort A-Z</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Sort Z-A"> <span md-menu-align-target>Sort Z-A</span></md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <md-content>
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    md-search-text-change="null"
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-selected-item-change="chooseSymbol(item)"
                    md-items="item in search(searchText)"
                    md-item-text="item.display"
                    placeholder="Search Symbols">
                <span md-highlight-text="searchText">{{item.display}}</span>
            </md-autocomplete>
        </form>

        <md-content style="max-height:839px;">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="watchListItem in user.WatchList" ng-click="selectSymbol(watchListItem.Symbol)"
                              ng-class="{selected: watchListItem.Symbol == user.selectedSymbol}">
                    <div class="md-list-item-text">

                          <!--<span style="text-transform: uppercase;">{{watchListItem.Symbol.Symbol}}:</span>-->
                          <!--<span class="chip" ng-class="{positive: watchListItem.Symbol.Change.indexOf('+') > -1, negative: watchListItem.Symbol.Change.indexOf('-') > -1}">-->
                            <!--<span style="text-transform: uppercase;">-->
                             <!--{{watchListItem.Symbol.Symbol}}:-->
                            <!--</span>-->
                            <!--<span>-->
                            <!--{{watchListItem.Symbol.Ask | number:2}} {{watchListItem.Symbol.Change}} ({{watchListItem.Symbol.ChangeinPercent}})-->
                            <!--</span>-->
                          <!--</span>-->


                        <h3>
                          <span style="text-transform: uppercase;">{{watchListItem.Symbol.Symbol}}:</span> <span
                          ng-class="{positive: watchListItem.Symbol.Change.indexOf('+') > -1, negative: watchListItem.Symbol.Change.indexOf('-') > -1}">{{watchListItem.Symbol.Ask}} {{watchListItem.Symbol.Change}} ({{watchListItem.Symbol.ChangeinPercent}})</span>
                        </h3>


                        <!--<h4>{{watchListItem.Symbol.Name}}</h4>-->
                        <p style="float:left;">
                          Day's Range: {{watchListItem.Symbol.DaysRange}}
                        </p>
                        <spark-line ng-if="user.Preferences.refreshState && watchListItem.Symbol.askHistory.length > 0" symbol="watchListItem.Symbol"></spark-line>
                    </div>

                    <md-menu>
                      <md-button aria-label="Open action menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon md-menu-origin icon="menu" style="fill: #A9A9A9" size="20"></ng-md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button aria-label="Buy"
                                     ng-click="user.openBuyModal($event, watchListItem.Symbol)">
                            <span md-menu-align-target>Buy</span>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button aria-label="Sell"
                                     ng-click="user.openSellModal($event, watchListItem.Symbol)">
                            <span md-menu-align-target>Sell</span>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button aria-label="Remove" ng-click="removeFromWatchlist(watchListItem.Symbol, $event)">
                            <span md-menu-align-target>Remove</span>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

    </md-content>
</div>
