<div class="watch-list">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Watchlist ({{watchList.length}})
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshSymbols()">
          <ng-md-icon icon="refresh" style="fill: #fff" size="22"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content>
        <md-button ng-click="closeWatchlist()" class="md-primary" hide-gt-md>
            Close Watchlist
        </md-button>

        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    md-search-text-change="null"
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-selected-item-change="chooseSymbol(item)"
                    md-items="item in search(searchText)"
                    md-item-text="item.display"
                    placeholder="Search Symbols">
                <span md-highlight-text="searchText">{{item.display}}</span>
            </md-autocomplete>
        </form>

        <md-content style="max-height:839px;">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="symbol in watchList" ng-click="selectSymbol(symbol.Symbol)"
                              ng-class="{selected: symbol.Symbol == selectedSymbol}">
                    <div class="md-list-item-text">
                        <h3><span style="text-transform: uppercase;">{{symbol.Symbol.Symbol}}:</span> <span
                                ng-class="{positive: symbol.Symbol.Change.indexOf('+') > -1, negative: symbol.Symbol.Change.indexOf('-') > -1}">{{symbol.Symbol.Ask}} {{symbol.Symbol.Change}} ({{symbol.Symbol.ChangeinPercent}})</span>
                        </h3>
                        <h4>{{symbol.Symbol.Name}}</h4>
                        <spark-line></spark-line>
                        <!--<p>-->
                        <!--Open: {{symbol.Symbol.Open}} <br />-->
                        <!--Change: {{symbol.Symbol.Change}}-->
                        <!--</p>-->
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

    </md-content>
</div>
