<div class="watch-list">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Watchlist ({{watchList.length}})
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshSymbols()">
          <ng-md-icon icon="refresh" style="fill: #fff" size="22"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content>
        <md-button ng-click="closeWatchlist()" class="md-primary" hide-gt-md>
            Close Watchlist
        </md-button>

        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    md-search-text-change="null"
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-selected-item-change="chooseSymbol(item)"
                    md-items="item in search(searchText)"
                    md-item-text="item.display"
                    placeholder="Search Symbols">
                <span md-highlight-text="searchText">{{item.display}}</span>
            </md-autocomplete>
        </form>

        <md-content style="max-height:839px;">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="watchListItem in watchList" ng-click="selectSymbol(watchListItem.Symbol)"
                              ng-class="{selected: watchListItem.Symbol == selectedSymbol}">
                    <div class="md-list-item-text">
                        <h3>
                          <span style="text-transform: uppercase;">{{watchListItem.Symbol.Symbol}}:</span>
                          <span ng-class="{positive: watchListItem.Symbol.Change.indexOf('+') > -1, negative: watchListItem.Symbol.Change.indexOf('-') > -1}">
                            {{watchListItem.Symbol.Ask}} {{watchListItem.Symbol.Change}} ({{watchListItem.Symbol.ChangeinPercent}})
                          </span>
                        </h3>
                        <h4>{{watchListItem.Symbol.Name}}</h4>

                        <spark-line ng-if="preferences.refreshState && watchListItem.Symbol.askHistory.length > 1" ask-history="watchListItem.Symbol.askHistory"></spark-line>

                        <!--<p>-->
                          <!--<span ng-repeat="ask in watchListItem.Symbol.askHistory track by $index">-->
                            <!--{{ask}},-->
                          <!--</span>-->
                        <!--</p>-->

                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

    </md-content>
</div>
