watch-list-details {
  width: 100%;
  padding-top: 0;
}

/*.watch-list-details h2 .positive {*/
/*color: #17E217;*/
/*}*/

/*.watch-list-details h2 .negative {*/
/*color: #F74545;*/
/*}*/

.watch-list-details md-content.autocomplete {
  min-height: 250px;
}

/*.watch-list-details .md-item-text.compact {*/
/*padding-top: 8px;*/
/*padding-bottom: 8px;*/
/*}*/

/*.watch-list-details .symbol-details {*/
/*box-sizing: border-box;*/
/*}*/

/*.watch-list-details .symbol-details span {*/
/*float: right;*/
/*}*/

/*.watch-list-details .symbol-details.selected {*/
/*opacity: 0.5;*/
/*}*/

/*.watch-list-details .symbol-details.selected h3 {*/
/*opacity: 0.5;*/
/*}*/

/*.watch-list-details .symbol-details .md-list-item-text {*/
/*padding: 14px 0;*/
/*}*/

/*.watch-list-details .symbol-details .md-list-item-text h3 {*/
/*margin: 0 !important;*/
/*padding: 0;*/
/*line-height: 1.2em !important;*/
/*}*/

/*.watch-list-details .symbol-details .md-list-item-text h3, .watch-list-details .symbol-details .md-list-item-text p {*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*}*/

/*@media (min-width: 900px) {*/
/*.watch-list-details .symbol-details {*/
/*float: left;*/
/*width: 33%;*/
/*}*/
/*}*/

/*.watch-list-details .fixedRows {*/
/*height: 250px;*/
/*overflow-y: scroll;*/
/*}*/

/*.watch-list-details .stacked-details {*/
/*height: 250px;*/
/*overflow-y: scroll;*/
/*}*/

.watch-list-details .stacked-details {

}

.watch-list-details md-list-item {
  min-height: 18px;
}

.watch-list-details .stacked-details p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.watch-list-details .stacked-details-row {
  width: 100%;
}

.watch-list-details .stacked-details-row .row-right {
  text-align: right
}

.watch-list-details .tabbed-details md-content {
  background-color: transparent !important;
}

.watch-list-details .tabbed-details md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
  min-height: 348px;
}

.watch-list-details .tabbed-details md-content md-tabs md-tabs-canvas {
  background: white;
}

.watch-list-details .tabbed-details md-content h1:first-child {
  margin-top: 0;
}

.watch-list-details md-input-container {
  margin-bottom: 0px;
  margin-top: 0px;
}

.watch-list-details .chart-buttons button {
  margin: 0 0;
  min-width: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.watch-list-details .use-grab {
  cursor: grab;
}
.watch-list-details .use-pointer {
  cursor: pointer;
}

.watch-list-details .use-cross-hairs {
  cursor: crosshair;
}

