.base-chart {
}

.base-chart .area{
   fill: #F6F6F6;
}

.base-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.base-chart .axis path,
.base-chart .axis line {
  fill: none;
  stroke: rgba(0,0,0,0.54);
  shape-rendering: crispEdges;
}

.base-chart text {
  fill: rgba(0,0,0,0.54);
}

.base-chart .bar.up-day path {
  stroke: green;
}

.base-chart .bar.down-day path {
  stroke: red;
}

.base-chart .bar.up-day rect {
  fill: green;
}

.base-chart .bar.down-day rect {
  fill: red;
}

.base-chart path.avg {
  stroke: #FF9900;
  fill: none;
}