.modal-buy {

}

.modal-buy .md-list-item-text{
  padding-top: 5px;
}

.modal-buy md-dialog-content{
  padding-top: 5px;
}

.modal-buy .symbol-line{
  text-align: center;
  width: 100%;
}

.modal-buy h2 .positive {
    color: #17E217;
}

.modal-buy h2 .negative {
    color: #FF4C4C;
}
