<md-dialog aria-label="{{$ctrl.symbol.Name}}" class="modal-option-chain" md-theme="{{$ctrl.user.Preferences.theme.slug}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Option Chain
                  <span style="text-transform: uppercase;">
                    {{$ctrl.symbol.Symbol}}:
                  </span>
                  <span ng-class="{positive: $ctrl.symbol.Change.indexOf('+') > -1, negative: $ctrl.symbol.Change.indexOf('-') > -1}">
                    {{$ctrl.symbol.Ask}} {{$ctrl.symbol.Change}} ({{$ctrl.symbol.ChangeinPercent}})
                  </span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <ng-md-icon icon="remove_circle_outline" size="20" style="fill:#fff;"
                                aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

          <md-list>
              <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3>Symbol: <span>{{$ctrl.symbol.Symbol}}</span></h3>
                  </div>
              </md-list-item>
          </md-list>

          <!-- exact table from live demo -->
          <md-table-container>
            <table md-table ng-model="ctrl.selected" md-progress="ctrl.optionsPromise">
              <thead md-head md-order="ctrl.query.order" md-on-reorder="ctrl.getDesserts">
              <tr md-row>

                <th md-column md-numeric>Price</th>
                <th md-column md-numeric>Bid</th>
                <th md-column md-numeric md-order-by="a">Ask</th>
                <th md-column md-numeric>Volume</th>
                <th md-column md-numeric>Open Int</th>
                <th md-column md-numeric>Strike</th>
                <th md-column md-numeric>Price</th>
                <th md-column md-numeric>Bid</th>
                <th md-column md-numeric>Ask</th>
                <th md-column md-numeric>Volume</th>
                <th md-column md-numeric>Open Int</th>


                <!--<th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>-->
                <!--<th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th>-->
                <!--<th md-column md-numeric>Fat (g)</th>-->
                <!--<th md-column md-numeric>Carbs (g)</th>-->
                <!--<th md-column md-numeric>Protein (g)</th>-->
                <!--<th md-column md-numeric>Sodium (mg)</th>-->
                <!--<th md-column md-numeric>Calcium (%)</th>-->
                <!--<th md-column md-numeric>Iron (%)</th>-->
              </tr>
              </thead>
              <tbody md-body>

              <tr md-row md-select="$ctrl.optionCall" md-select-id="name" md-auto-select ng-repeat="optionChain in $ctrl.OptionChain.Chain.callsAndPuts">
                <!--<td md-cell>{{optionCall.name}}</td>-->
                <!--<td md-cell>{{option.calories.value}}</td>-->
                <!--<td md-cell>{{option.fat.value | number: 1}}</td>-->
                <!--<td md-cell>{{option.carbs.value}}</td>-->
                <!--<td md-cell>{{option.protein.value | number: 1}}</td>-->
                <!--<td md-cell>{{option.sodium.value}}</td>-->
                <!--<td md-cell>{{option.calcium.value}}{{option.calcium.unit}}</td>-->
                <!--<td md-cell>{{option.iron.value}}{{option.iron.unit}}</td>-->

                <td md-cell>{{optionChain.call.p}}</td>
                <td md-cell>{{optionChain.call.b}}</td>
                <td md-cell>{{optionChain.call.a}}</td>
                <td md-cell>{{optionChain.call.vol}}</td>
                <td md-cell>{{optionChain.call.oi}}</td>
                <td md-cell>{{optionChain.call.strike}}</td>
                <!--<td md-cell>{{optionCall.BindingStrike}}</td>-->

                <td md-cell>{{optionChain.put.p}}</td>
                <td md-cell>{{optionChain.put.b}}</td>
                <td md-cell>{{optionChain.put.a}}</td>
                <td md-cell>{{optionChain.put.vol}}</td>
                <td md-cell>{{optionChain.put.oi}}</td>

              </tr>
              </tbody>
            </table>
          </md-table-container>

          <!--<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>-->



        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()" class="md-primary">
                Cancel
            </md-button>
            <!--<md-button ng-click="$ctrl.sell()" class="md-primary">-->
                <!--Buy-->
            <!--</md-button>-->
        </md-dialog-actions>
    </form>
</md-dialog>
