<md-dialog aria-label="{{$ctrl.symbol.Name}}" class="modal-option-chain" md-theme="{{$ctrl.user.Preferences.theme.slug}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Option Chain
                  <span style="text-transform: uppercase;">
                    {{$ctrl.symbol.Symbol}}:
                  </span>
                  <span ng-class="{positive: $ctrl.symbol.Change.indexOf('+') > -1, negative: $ctrl.symbol.Change.indexOf('-') > -1}">
                    {{$ctrl.symbol.Ask}} {{$ctrl.symbol.Change}} ({{$ctrl.symbol.ChangeinPercent}})
                  </span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <ng-md-icon icon="remove_circle_outline" size="20" style="fill:#fff;"
                                aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
          <!--{{$ctrl.OptionChain.Chain.expiry}}-->
          <md-select aria-label="Expirations" ng-model="$ctrl.OptionChain.Chain.selectedExpiration"
                     ng-change="$ctrl.changeExpiration()">
            <md-option ng-value="expiration" ng-repeat="expiration in $ctrl.OptionChain.Chain.expirations">
              {{expiration.m}}/{{expiration.d}}/{{expiration.y}}
            </md-option>
          </md-select>

          <div layout="row">
            <div flex="40" style="text-align: center;">
              <h4>Call Options</h4>
            </div>
            <div flex="20" style="text-align: center;">
              <h3>{{$ctrl.symbol.Symbol | uppercase}} @ {{$ctrl.symbol.Ask | number:2}}</h3>
            </div>
            <div flex="40" style="text-align: center;">
              <h4>Put Options</h4>
            </div>
          </div>

          <!-- exact table from live demo -->
          <md-table-container>
            <table md-table ng-model="ctrl.selected" md-progress="ctrl.optionsPromise">
              <thead md-head md-order="ctrl.query.order">
              <tr md-row>
                <th md-column md-numeric></th>
                <th md-column md-numeric md-order-by="call.p">Price</th>
                <th md-column md-numeric md-order-by="call.b">Bid</th>
                <th md-column md-numeric md-order-by="call.a">Ask</th>
                <th md-column md-numeric md-order-by="call.vol">Volume</th>
                <th md-column md-numeric md-order-by="call.oi">Open Int</th>
                <th md-column md-numeric md-order-by="call.strike">Strike</th>
                <th md-column md-numeric md-order-by="put.p">Price</th>
                <th md-column md-numeric md-order-by="put.b">Bid</th>
                <th md-column md-numeric md-order-by="put.a">Ask</th>
                <th md-column md-numeric md-order-by="put.vol">Volume</th>
                <th md-column md-numeric md-order-by="put.oi">Open Int</th>
                <!--<th md-column md-numeric md-order-by="put.expiry">Expiry</th>-->
                <th md-column md-numeric></th>
              </tr>
              </thead>
              <tbody md-body>

              <tr md-row
                  ng-repeat="optionChain in $ctrl.OptionChain.Chain.callsAndPuts | orderBy: ctrl.query.order">

                <td md-cell>
                  <input type="checkbox" />
                </td>

                <td md-cell
                    ng-class="{'in-the-money': optionChain.call.strike< ($ctrl.symbol.LastTradePriceOnly * 100)/100, 'out-of-the-money': (optionChain.call.strike * 100)/100 > ($ctrl.symbol.LastTradePriceOnly * 100)/100}">
                  {{optionChain.call.p}}
                </td>
                <td md-cell
                    ng-class="{'in-the-money': optionChain.call.strike< ($ctrl.symbol.LastTradePriceOnly * 100)/100, 'out-of-the-money': (optionChain.call.strike * 100)/100 > ($ctrl.symbol.LastTradePriceOnly * 100)/100}">
                {{optionChain.call.b}}
                </td>
                <td md-cell
                    ng-class="{'in-the-money': optionChain.call.strike< ($ctrl.symbol.LastTradePriceOnly * 100)/100, 'out-of-the-money': (optionChain.call.strike * 100)/100 > ($ctrl.symbol.LastTradePriceOnly * 100)/100}">
                  {{optionChain.call.a}}
                </td>
                <td md-cell
                    ng-class="{'in-the-money': optionChain.call.strike< ($ctrl.symbol.LastTradePriceOnly * 100)/100, 'out-of-the-money': (optionChain.call.strike * 100)/100 > ($ctrl.symbol.LastTradePriceOnly * 100)/100}">
                {{optionChain.call.vol}}
                </td>
                <td md-cell
                    ng-class="{'in-the-money': optionChain.call.strike< ($ctrl.symbol.LastTradePriceOnly * 100)/100, 'out-of-the-money': (optionChain.call.strike * 100)/100 > ($ctrl.symbol.LastTradePriceOnly * 100)/100}">
                {{optionChain.call.oi}}
                </td>
                <td md-cell
                    class="strike-price">
                  {{optionChain.call.strike}}
                </td>

                <!--'out-of-the-money': parseFloat(call.strike) < parseFloat($ctrl.symbol.LastTradePriceOnly)-->

                <td md-cell>{{optionChain.put.p}}</td>
                <td md-cell>{{optionChain.put.b}}</td>
                <td md-cell>{{optionChain.put.a}}</td>
                <td md-cell>{{optionChain.put.vol}}</td>
                <td md-cell>{{optionChain.put.oi}}</td>
                <!--<td md-cell>{{optionChain.put.expiry}}</td>-->

                <td md-cell>
                  <input type="checkbox" />
                </td>
              </tr>
              </tbody>
            </table>
          </md-table-container>

          <!--<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>-->

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()" class="md-primary">
                Cancel
            </md-button>
            <!--<md-button ng-click="$ctrl.sell()" class="md-primary">-->
                <!--Buy-->
            <!--</md-button>-->
        </md-dialog-actions>
    </form>
</md-dialog>
