<md-dialog aria-label="{{$ctrl.symbol.Name}}" class="modal-sell" md-theme="{{$ctrl.user.Preferences.theme.slug}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sell
                  <span style="text-transform: uppercase;">
                    {{$ctrl.symbol.Symbol}}:
                  </span>
                  <span ng-class="{positive: $ctrl.symbol.Change.indexOf('+') > -1, negative: $ctrl.symbol.Change.indexOf('-') > -1}">
                    {{$ctrl.symbol.Ask}} {{$ctrl.symbol.Change}} ({{$ctrl.symbol.ChangeinPercent}})
                  </span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <ng-md-icon icon="remove_circle_outline" size="20" style="fill:#fff;"
                                aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

          <md-list>
              <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3>Ask: <span>{{$ctrl.symbol.Ask | currency}}</span></h3>

                    <h4>Available Cash: <span>{{$ctrl.user.selectedAccount.availableCash | currency}}</span></h4>

                    <form name="sell">
                      <md-input-container>
                        <label>Quantity</label>
                        <input required type="number" step="any" name="quantity" ng-model="quantity" min="1" max="9999999">
                        <div ng-messages="$ctrl.sell.quantity.$error">
                          <div ng-message="required">You've got to charge something! You can't just <b>give away</b> a Missile Defense System.</div>
                          <div ng-message="min">You should charge at least $800 an hour. This job is a big deal... if you mess up, everyone dies!</div>
                          <div ng-message="max">$5,000 an hour? That's a little ridiculous. I doubt event Bill Clinton could afford that.</div>
                        </div>
                      </md-input-container>
                    </form>

                    <p>Sell {{$ctrl.quantity}} shares of {{$ctrl.symbol.Symbol}} at {{$ctrl.symbol.Ask | currency}} a share for <b>{{$ctrl.quantity * $ctrl.symbol.Ask | currency}}</b></p>
                    <p>You will have {{$ctrl.user.selectedAccount.availableCash -($ctrl.quantity * $ctrl.symbol.Ask) | currency}} in remaining cash.</p>
                  </div>
              </md-list-item>
          </md-list>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="$ctrl.sell()" class="md-primary">
                Sell
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
