<div class="main-route" md-theme="{{$ctrl.User.Preferences.theme.slug}}">
  <div ng-show="$ctrl.isLoading" layout="column" layout-margin
       style="position: fixed; top: -14px; left: 0px; width: 100%; z-index: 9999;">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
  </div>
  <md-content>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <md-button aria-label="StockTracker" class="md-fab">
          <ng-md-icon md-menu-origin icon="equalizer" style="fill: #fff" size="20"></ng-md-icon>
        </md-button>
        <h2>
          StockTracker
        </h2>
        <span flex></span>
        <user-totals hide-md hide-sm user="$ctrl.User"></user-totals>
        <span flex></span>
        <md-button class="md-secondary" aria-label="Watchlist" ng-click="$ctrl.watchlistToggle()">
          Watchlist ({{$ctrl.User.WatchList.length}})
        </md-button>
        <md-button class="md-secondary" aria-label="Positions" ng-click="$ctrl.positionsToggle()">
          Positions ({{$ctrl.User.Positions.length}})
        </md-button>

        <!--<md-icon md-svg-icon="images/icons/more_vert.svg"></md-icon>-->

        <md-button class="md-secondary" aria-label="User Preferences" ng-click="$ctrl.User.openUserPreferenceModal($event)">
          {{$ctrl.User.lastName}}, {{$ctrl.User.firstName}}
        </md-button>
      </div>
    </md-toolbar>
  </md-content>

  <div layout="column">
    <section layout="row" flex>
      <!--Begin Left Navbar-->
      <md-sidenav ng-show="$ctrl.showWatchlist && !$ctrl.showPositions" class="md-sidenav-left md-whiteframe-z2" md-component-id="watch-list"
                  md-is-locked-open="$mdMedia('gt-md')">
        <watch-list user="$ctrl.User"></watch-list>
      </md-sidenav>
      <md-sidenav ng-show="!$ctrl.showWatchlist && $ctrl.showPositions" class="md-sidenav-left md-whiteframe-z2" md-component-id="positions"
                  md-is-locked-open="$mdMedia('gt-md')">
        <positions user="$ctrl.User"></positions>
      </md-sidenav>
      <!--End Left Navbar-->

      <watch-list-details user="$ctrl.User"
                          symbol="$ctrl.User.selectedSymbol">
      </watch-list-details>

    </section>
  </div>
</div>
